

/* MM      MM    MMMM    MMMMMM    MMMMMM    MMMM    MMMMMM    MM      MMMMMMMM    MMMM     */
/* MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/* MM      MM  MMMMMMMM  MMMMMM      MM    MMMMMMMM  MMMMMM    MM      MMMMMMMM    MM       */
/* MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM            MM     */
/*   MM  MM    MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*     MM      MM    MM  MM    MM  MMMMMM  MM    MM  MMMMMM    MMMMMM  MMMMMMMM    MMMM     */

/************ VARIABLES ****************/
:root {
    --col1: 100px;
    --col2: 110px;
}








/*   MMMM    MM        MMMM    MMMMMM      MMMM    MM       */
/* MM    MM  MM      MM    MM  MM    MM  MM    MM  MM       */
/* MM        MM      MM    MM  MMMMMM    MMMMMMMM  MM       */
/* MM  MMMM  MM      MM    MM  MM    MM  MM    MM  MM       */
/* MM    MM  MM      MM    MM  MM    MM  MM    MM  MM       */
/*   MMMM    MMMMMM    MMMM    MMMMMM    MM    MM  MMMMMM   */

/****************** GLOBAL **********************/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


input {
    text-align: center;
    width: 90%;
}

button {
    border-radius: 10px;
    background: white;
    border: 1px gray solid;
    padding: 2px 10px;
    width: 70px;
    font-size: 9pt;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    /* user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    transition: 0.1s;
}

button:hover {
    background: skyblue;
}





/*    MMMM      MMMM    MM    MM  MMMMMM    MMMM    MMMMMM  MM    MM  MMMMMMMM  MMMMMM     */
/*  MM    MM  MM    MM  MMMM  MM    MM    MM    MM    MM    MMMM  MM  MM        MM    MM   */
/*  MM        MM    MM  MM  MMMM    MM    MMMMMMMM    MM    MM  MMMM  MMMMMMMM  MMMMMM     */
/*  MM        MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*  MM    MM  MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*    MMMM      MMMM    MM    MM    MM    MM    MM  MMMMMM  MM    MM  MMMMMMMM  MM    MM   */

/********************** CONTAINER ********************/

#container {
    background: #0001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: var(--col1) var(--col2) auto;
    /* gap: 10px; */
}

#container > div {
    background: white;
    margin: 4px;
    border-radius: 4px;
}







/* MM        MMMM    MMMMMM    MMMMMM    MM      MM          MMMM    MMMMMM      MMMM      MMMM    MMMMMMMM   */
/* MM      MM    MM  MM    MM  MM    MM    MM  MM          MM    MM  MM    MM  MM    MM  MM    MM  MM         */
/* MM      MM    MM  MMMMMM    MMMMMM        MM              MM      MM    MM  MMMMMMMM  MM        MMMMMMMM   */
/* MM      MM    MM  MM    MM  MM    MM      MM                MM    MMMMMM    MM    MM  MM        MM         */
/* MM      MM    MM  MM    MM  MM    MM      MM            MM    MM  MM        MM    MM  MM    MM  MM         */
/* MMMMMM    MMMM    MMMMMM    MMMMMM        MM              MMMM    MM        MM    MM    MMMM    MMMMMMMM   */

/* ***************** LOBBY SPACE ******************** */

#lobbySpace {
    padding: 5px;
}








/* MMMMMM      MMMM      MMMM    MM      MM          MMMM    MMMMMM      MMMM      MMMM    MMMMMMMM   */
/* MM    MM  MM    MM  MM    MM  MMMM  MMMM        MM    MM  MM    MM  MM    MM  MM    MM  MM         */
/* MMMMMM    MM    MM  MM    MM  MM  MM  MM          MM      MM    MM  MMMMMMMM  MM        MMMMMMMM   */
/* MM    MM  MM    MM  MM    MM  MM      MM            MM    MMMMMM    MM    MM  MM        MM         */
/* MM    MM  MM    MM  MM    MM  MM      MM        MM    MM  MM        MM    MM  MM    MM  MM         */
/* MM    MM    MMMM      MMMM    MM      MM          MMMM    MM        MM    MM    MMMM    MMMMMMMM   */

/* ******************* ROOM SPACE ***************** */

#roomSpace > div {
    background: #0001;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    /* transition: 2s; */
    /* height: 100px; */
    /* overflow: hidden; */
}

#room-plus {
    cursor: pointer;
}

#room-name {
    visibility: hidden;
}

div[id^="bt-"] {
    margin-top: 5px;
}


div[id^="rm-"] {
    margin-top: 5px;
    text-align: left;
}













/* MMMMMM      MMMM      MMMM    MMMMMM    MMMMMM            MMMM    MMMMMM      MMMM      MMMM    MMMMMMMM   */
/* MM    MM  MM    MM  MM    MM  MM    MM  MM    MM        MM    MM  MM    MM  MM    MM  MM    MM  MM         */
/* MMMMMM    MM    MM  MMMMMMMM  MMMMMM    MM    MM          MM      MM    MM  MMMMMMMM  MM        MMMMMMMM   */
/* MM    MM  MM    MM  MM    MM  MM    MM  MM    MM            MM    MMMMMM    MM    MM  MM        MM         */
/* MM    MM  MM    MM  MM    MM  MM    MM  MM    MM        MM    MM  MM        MM    MM  MM    MM  MM         */
/* MMMMMM      MMMM    MM    MM  MM    MM  MMMMMM            MMMM    MM        MM    MM    MMMM    MMMMMMMM   */

/* ************* BOARD SPACE ************ */

#boardSpace {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}



#boardFrame {
    /* border: 1px solid green; */
    background: #0001;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 100px auto;
    visibility: hidden;
}

#boardFrame .bar {
    grid-column: 1/3;
    /* height:40px; */
}

#board {
    grid-row: 2/4;
    /* background: #0002; */
    /* background-image: url('wood.jpg'); */
    background-image: url('whitepaint.jpg');
    background-size: cover;

    /* grid-column: 1/2;
    grid-row: 2/3; */
    display: grid;
    padding: 2px;
}


.square {
    /* background: white; */
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #0002;
    /* margin: 2px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.square:hover {
    cursor: pointer;
}

.square:active {
    color: red;
    /* font-size: large; */
    font-weight: bold;
}



#players {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-content: start;
}

#tally {
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}





/* MM      MM    MMMM    MMMMMM      MMMM    MM       */
/* MMMM  MMMM  MM    MM  MM    MM  MM    MM  MM       */
/* MM  MM  MM  MM    MM  MM    MM  MMMMMMMM  MM       */
/* MM      MM  MM    MM  MM    MM  MM    MM  MM       */
/* MM      MM  MM    MM  MM    MM  MM    MM  MM       */
/* MM      MM    MMMM    MMMMMM    MM    MM  MMMMMM   */

/* ************* MODAL ************ */

#modal {
    background: white;
    display: block;
}

#modal > div {
    background: #0003;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 1s; */
}

.card {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #0005;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* transition: 1s; */
}








/*   MMMM    MMMMMM  MM    MM  MMMMMMMM  MMMMMM     */
/* MM    MM    MM    MM    MM  MM        MM    MM   */
/* MM    MM    MM    MMMMMMMM  MMMMMMMM  MMMMMM     */
/* MM    MM    MM    MM    MM  MM        MM    MM   */
/* MM    MM    MM    MM    MM  MM        MM    MM   */
/*   MMMM      MM    MM    MM  MMMMMMMM  MM    MM   */

.gone {
    /* display: none; */
    background: green;
}


.me {
    background: #f001;
}


